*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
header{
    background: linear-gradient(243.41deg, #5FFBF1 -0.69%, #86A8E7 39.69%, #D16BA5 100%);
}
.header__nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    align-items: center;
    background: transparent;
}
.header__scroll{
    box-shadow: 0px 0px 30px #fff;
    transition: .9s all;
    background: linear-gradient(243.41deg, #5FFBF1 -0.69%, #86A8E7 39.69%, #D16BA5 100%);
}
.header__logo{
    color: white;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-left: 119px;
}
.header__nav--list{
    display: flex;
    list-style: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin-right: 125px;
}
.header__nav--list a{
    color: white;
    text-decoration: none;
    margin-left: 40px;
}
.header__info{
    display: flex;
    justify-content: space-around;
    padding-top: 190px;
}
.header__info--container{
    width: 570px;
    height: 460px;
    color: white;
    padding-left: 30px;
}
.header__info--container h1{
    font-size: 48px;
    line-height: 72px;
    font-weight: 600;
}
.header__info--container p{
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
}
.header__info--container button{
    width: 260px;
    height: 70px;
    outline: none;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    line-height: 27px;
    font-size: 18px;
    font-weight: 600;
}
.header__info--img{
    width: 531px;
    height: 386px;
}
.main__cards{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bussines__info{
    background: linear-gradient(243.41deg, #5FFBF1 -0.69%, #86A8E7 39.69%, #D16BA5 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 120px 0px;
}
.bussines__info--img{
    display: grid;
    place-content: center;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: white;
}
.bussines__info--text{
    max-width: 50vw;
    color: white;
}
.bussines__info--text h2{
    font-size: 36px;
    line-height: 64px;
    font-weight: 500;
}
.bussines__info--text p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
}
.bussines__info--text button{
    color: white;
    border: 3px solid white;
    width: 300px;
    height: 70px;
    background-color: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
}
.btn-menu{
    display: none;
}



.carousel{
    margin: 0 60px;
}
.carousel h2{
    font-size: 26px;

}

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    /* width: fit-content; */
    max-width: 90vw;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 500px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.slick div a img{
    width: 100%;
    position: relative;
    padding: 30px 10px;

}
.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
}
.contact{
    background: linear-gradient(243.41deg, #5FFBF1 -0.69%, #86A8E7 39.69%, #D16BA5 100%);
    display: grid;
    place-items: center;
}
.contact form{
    display: grid;
    width: 80vw;
    grid-template-rows: 1fr 1fr 4fr;
    place-items: center;
    margin-top: 50px;
}
.contact form input{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    height: 60px;
    outline: none;
    border-radius: 40px;
    padding-left: 10px;
    width: 50%;
}
.contact form input::placeholder{
    color: white;
}
.contact__form--personal{
    display: flex;
    width: 50%;
}
.contact__form--personal input{
    width: 70%;
}
.contact form textarea{
    width: 50%;
    height: auto;
    resize: none;
    margin: 40px;
    outline: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 40px;
    padding: 20px;
    color: white;
}
.contact button{
    width: 200px;
    height: 40px;
    background-color: white;
    color: #D16BA5;
    font-size: 18px;
    border: none;
    border-radius: 40px;
    margin-bottom: 40px;
    cursor: pointer;
}
textarea::placeholder{
    color: white;
}
ul.show{
    top: 65px;
}
@media(max-width:1000px){
    .header__nav--list{
        margin-top: 0;
        position: fixed;
        flex-direction: column;
        top: -100vh;
        transition: .6s all;
        height: calc(100vh - 72px);
        width: 100%;
        align-items: center;
        justify-content: space-around;
        background: rgba(207, 109, 167, .7);

    }
    .btn-menu{
        display: flex;
        margin: 0px 30px;
        width: 48px;
        height: 48px;
        cursor: pointer;
    }
    .header__logo{
        margin-top: 0;
        cursor: pointer;
    }
    .header__info{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .header__info--container{
        justify-content: center;
    }
    .header__info--img{
        margin-bottom: 40px;
        width: 80vw;
    }
    #about{
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
    }
    .main__cards{
        height: auto;
    }
    .main__cards img{
        width: 60vw;
    }
}
button.button-scroll-top{
    position: fixed;
    right: -40px;
    transition: 1.6s all;
}
body button.active{
    display: flex;
    right: 40px;
    bottom: 30%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: linear-gradient(#D16BA5, #86A8E7, #5FFBF1);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    z-index: 6;
}
@media(max-width: 720px){
    .header__info--container{
        width: auto;
        height: auto;
    }
    .header__info--container h1{
        font-size: 30px;
        margin-top: 90px;
        line-height: 50px;
    }
    .header__info--container p{
        font-size: 16px;
        line-height: 28px;
    }
    .bussines__info{
        flex-direction: column;
        align-items: center;
    }
    .bussines__info--img{
        width: 90vw;
        height: 90vw;
    }
    .bussines__info--text{
        width: 90vw;
        max-width: 90vw;
    }
    .bussines__info--text h2{
        font-size: 30;
    }
    .contact form{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact form input{
        width: 100%;
        margin: 10px 0px;
    }
    .contact__form--personal{
        width: 100%;
        flex-direction: column;
    }
    .contact form textarea{
        width: 80vw;
        margin: 10px;
    }
    .slick{
        width: 300px;
    }
}